<div [formGroup]="parent()"><!--sets the formgroup to the form that was passed down from parent -->

     @for (item of stocks(); track item) {
        <div formArrayName="stock" class="stock-category-list" >
            <span [formGroupName]="$index"> <!--$index is built into the @form-->
                 {{item.value.category_id}} <!--Ties the formgroup to the index in the array-->
            </span>
            <input 
            type="number" 
            step="10"
            min="10"
            max="40"
            [value]="item.value.quantity"
            class="category-stock-item">
            <button 
            type="button"
            (click)="onRemove(item, $index)"
            class="btn btn-warning">Remove</button>
        </div>
    }
</div>
