<ng-content select="h2"></ng-content>
@if(selectedEmployee){
<section id="employee-details">
    <ul>
    @for(employee of employees; track employee.employeeId){
        <li>
            <app-employee 
            [firstName]="employee.firstName"
            [lastName]="employee.lastName"
            [title]="employee.title"
            (click)="onSelect(employee)"></app-employee>    
        </li>
    }
    </ul>

    <article class="employee-profile">
        <div class="employee-profile__greeting">
            <div class="employee-profile__name">
                <p>{{selectedEmployee.firstName}}</p>
                <p>{{selectedEmployee.lastName}}</p>
                <p class="employee-profile__profession">{{selectedEmployee.title}}</p>  
            </div>
            <img [src]="profile_pic" class="employee-profile__image">
        </div>

        <div class="employee-profile__location">
            <p>{{selectedEmployee.city}} ,</p>
            <p>{{selectedEmployee.country}}, </p>
            <p>{{selectedEmployee.postalCode}}</p>
        </div>
        <div class="employee-profile__notes">
            <p>{{selectedEmployee.notes}}</p>
        </div>
        <app-territories #territories></app-territories>
    </article>
</section>
}