<ng-content select="h2"></ng-content>
<div id="employee-details">
    <ul>
    @for(employee of employees; track employee.employeeId){
        <li>
            <app-employee 
            [firstName]="employee.firstName"
            [lastName]="employee.lastName"
            [title]="employee.title"
            (click)="onSelect(employee)"></app-employee>    
        </li>
    }
    </ul>

    @if(selectedEmployee){
    <div>
        <p>{{selectedEmployee.firstName}}</p>
        <p>{{selectedEmployee.lastName}}</p>
        <p>{{selectedEmployee.title}}</p>   
        <p>{{selectedEmployee.city}}</p>
        <p>{{selectedEmployee.country}}</p>
        <p>{{selectedEmployee.postalCode}}</p>
    </div>
    <app-territories #territories></app-territories>
    }
</div>