#navigation {
    background-color:#000;
    color:#fff;
    
    #logo img{
        max-height: 75px;
    }

    & nav ul {
        display: flex;
        margin:0;
    }
    
    & li {
        list-style-type: none;
        padding:10px;
        border-right:1px solid #eee;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    & li a {
        color:#fff;
        display: block ;
    }

    & li:last-child{
        border-right: none;
        align-items: end;

        & a {
            padding-left: 15px;
        }
    }
     
}

#logo{
    width:30%;
}