.card-information, .detail-information {
    justify-content: space-between;
    padding:15px;
}

.card-information {
    .dashboard-graph-card {
        flex-direction: row;
        background-color: #fff;
        border-radius: 6px;
        align-items: center;
        justify-content: space-between;
        flex:1;
        margin:0 10px;

        h3 {
            margin:0;
            font-size:medium;
        }

        h4{
            font-size:small;
        }

        p {
            font-size:smaller;
        }
    
        &__icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #b8c2f7;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    };
}

/*
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large
}

#detail-wrapper,
#card-information {
    display: flex;
    justify-content: space-between;

    .card {
        display:flex;
        justify-content: space-between;
        border-radius:3px;
        border: none;
        overflow:hidden;
        padding:15px;
        margin:20px 20px 0 20px;
    }
}


.dashboard-graph-card {
    width:50%;
}

#detail-wrapper{
    #employee-details {
        display: flex;
        flex-direction: column;
        width:50%;
        height:500px;

    }
    
    #territory-graph {
        width: 50%;
        height:400px;
    }
}
    */

