

.dashboard-cards, .dashboard-infomration {
    mat-card {
        background-color: #fff;
        border-radius: 6px;
        justify-content: space-between;
        flex-direction:row;

        h3 {
            margin:0;
            font-size:medium;
        }

        h4{
            font-size:small;
        }

        p {
            font-size:smaller;
        }
    
        .dashboard-card-icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #b8c2f7;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    };

}

.chart {
    background-color: #fff;
    width: 100%;
    /*height:600px;*/
    margin:15px 0;
    border-radius: 3px;
    overflow:hidden;
}

