<mat-card class="p-3 mb-4">
    <article>
        <app-auth-form (submitted)="createUser($event)">
            <h3>Sign Up</h3>
            <button 
            type="submit"
            class="btn btn-secondary" 
            >Submit</button>
        </app-auth-form>
        <app-auth-form (submitted)="verifyUser($event)" [signInErrorMessage]="signInErrorMessage">
            <h3>Log In</h3>  
            <button 
            type="submit"
            class="btn btn-warning" 
            >Submit</button>  
        </app-auth-form>
    </article>
</mat-card>