<div class="stock-selector" [formGroup]="categorySalesForm">
    <select formControlName="category_name">
        <option value="">Select Category</option>
        @for(category of categories; track category.categoryId){
            <option [value]="category.categoryName">{{category.categoryName}}</option>
        }
    </select>
    @if(categoryName){
        <select formControlName="category_year" >
            <option value="">Select Year</option>
            <option value="1998">1998</option>
            <option value="1997">1997</option>
            <option value="1996">1996</option>
            <option value="1995">1995</option>
        </select>
    }
</div>

<svg width="300" height="300" class="bar-chart">
    <!-- Horizontal lines -->
    <line x1="100" y1="75" [attr.x2]="this.dimensions.width -75" y2="75" class="grid"></line>
    <line x1="100" y1="135" [attr.x2]="this.dimensions.width -75" y2="135" class="grid"></line>
    <line x1="100" y1="195" [attr.x2]="this.dimensions.width -75"  y2="195" class="grid"></line>
    <line x1="100" y1="255" [attr.x2]="this.dimensions.width -75"  y2="255" class="grid"></line>
    <line x1="100" y1="315" [attr.x2]="this.dimensions.width -75"  y2="315" class="grid"></line>
    <line x1="100" y1="360" [attr.x2]="this.dimensions.width -75"  y2="360" class="grid"></line>

    @for (item of data; track i; let i = $index) {
        <defs>
            <linearGradient id="myGradient" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color:#31f7e0;stop-opacity:1" />
                <stop offset="85%" style="stop-color:#7db9e8;stop-opacity:1" />
            </linearGradient>
        </defs>
        
        <rect 
        [attr.x]="i * rectWidth + 0.5 * padding + outerPadding + 75" 
        [attr.y]="innerHeight - (innerHeight * item / max)" 
        [attr.width]="bandwidth" 
        [attr.height]="innerHeight * item / max" 
        [attr.fill]="'url(#myGradient)'"
        [matTooltip]="xFullLabels[i]"
        matTooltipPosition="above">
      </rect>
      
    }

    <!-- Vertical lines 
    <line x1="100" y1="0" x2="100" y2="400" class="grid"></line>
    <line x1="200" y1="0" x2="200" y2="400" class="grid"></line>
    <line x1="300" y1="0" x2="300" y2="400" class="grid"></line>
    <line x1="400" y1="0" x2="400" y2="400" class="grid"></line>
    <line x1="500" y1="0" x2="500" y2="400" class="grid"></line>
    <line x1="600" y1="0" x2="600" y2="400" class="grid"></line>-->  
    
    <!--<path d="M100, 100L100, 200H200l0, -100h-100" fill="green" style="stroke:red"></path> -->
    @for(label of xlabels; track i; let i = $index) {
        <text 
        [attr.x]="i * rectWidth + 0.5 * padding + outerPadding + 0.5 *bandwidth + 75" 
        [attr.y]="dimensions.height - 0.5 * bottom" 
        fill="black" 
        dx="5"
        style="text-anchor: middle;  font-size:x-small">
        {{label}}</text>
    }
    
    @for(label of ylabels; track label; let i = $index) {
        @let reverseIndex = ylabels.length - 1 - i;
        <text 
        [attr.x]="35" 
        [attr.y]="80 + (reverseIndex *60)" 
        fill="black" 
        dx="5"
        >
        {{ylabels[reverseIndex]}}</text>
    }
</svg>
