<!--<app-nav></app-nav> -->

<div id="main-wrapper">
  <div>
    @if(products){
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Price</th>  
            <th>In Stock</th>
            <th>Order</th>
            <th>Discontinued</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
       @for(product of products; track product.productId){
        <tr>
          <td>{{product.productName}}</td>
          <td>{{product.unitPrice}}</td>  
          <td>{{product.unitsInStock}}</td>
          <td>{{product.unitsOnOrder}}</td>
          <td>{{product.discontinued}}</td>
          <td><button class="btn btn-primary">Details</button></td>
          <td><button class="btn btn-danger" (click)="deleteProduct(product.productId)">Delete</button></td>
        </tr>
        }
      </tbody>
    </table>
  }

    <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]"  showFirstLastButtons></mat-paginator> -->

    !<!--<button class="btn btn-success" routerLink="details/new">Add New Product</button> -->

    </div>
  </div>
